export DIRENV_WARN_TIMEOUT='10s'
export DIRENV_LOG_FORMAT=""

source_env "$HOME"
source_env_if_exists ./env/.envrc
export PATH="${GOPATH}/bin:${PATH}"

# This is set for local kind/minikube config to avoid touching the main kubeconfig
# export KUBECONFIG=.cache/config
export MAGEFILE_ENABLE_COLOR=1
export GITHUB_TOKEN="${GITHUB_OAUTH_TOKEN}"
