---
name: integration
on:
  pull_request:
  # push:
  #   branches:
  #     - main
    # tags:
    #   - v*
  workflow_call:

  workflow_dispatch:
    inputs:
      setenv:
        description: setenv (output to envfile)
        default: true
        type: boolean
# permissions:
#   contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
jobs:
  integration:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - id: dsv
        # If using as a template outside of the actual repo, you sould reference like this instead:
        # uses: DelineaXPM/dsv-github-action@v1 # renovate: tag=v1
        uses: DelineaXPM/dsv-github-action@main # renovate: tag=v1
        with:
          domain: ${{ secrets.DSV_SERVER }}
          clientId: ${{ secrets.DSV_CLIENT_ID }}
          clientSecret: ${{ secrets.DSV_CLIENT_SECRET }}
          setEnv: true
          retrieve: |
            [
             {"secretPath": "ci:tests:dsv-github-action:secret-01", "secretKey": "value1", "outputVariable": "RETURN_VALUE_1"},
             {"secretPath": "ci:tests:dsv-github-action:secret-01", "secretKey": "value2", "outputVariable": "RETURN_VALUE_2"}
            ]
      - name: validate-first-value
        if: always()
        run: |
          if [ "${{ steps.dsv.outputs.RETURN_VALUE_1 }}" == "${{ secrets.DSV_EXPECTED_VALUE_1 }}" ]; then
              echo "✅ test value is matched"
              exit 0
          else
              echo "::error ❌ mismatch, failed to return test value"
              exit 1
          fi
      - name: validate-second-value
        if: always()
        run: |
          if [ "${{ steps.dsv.outputs.RETURN_VALUE_2 }}" == "${{ secrets.DSV_EXPECTED_VALUE_2 }}" ]; then
              echo "✅ test value is matched"
              exit 0
          else
              echo -e "::error ❌ mismatch, failed to return test value"
              exit 1
          fi
