---
name: release-composite
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: read # Because it needs to read the configuration file
  checks: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  test:
    uses: ./.github/workflows/test.yml
  integration:
    needs: test
    uses: ./.github/workflows/integration.yml
  release:
    needs: integration
    uses: ./.github/workflows/release.yml
